<h2>新規投稿</h2>

<% if @post.errors.any? %>
<%= @post.errors.count %>件のエラーが発生しました。
<ul>
  <% @post.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= render'form', post: @post, submit: '投稿' %>

