<h2 class="text-center text-secondary mt-5"><%= "#" + @name %>のタグを含む投稿一覧</h2>

<% @posts.each do |post| %>
  <% post.medias.each do |media| %>
    <%= link_to post_path(post.id) do %>
    <%= image_tag media, size: '140x100' %>
  <% end %>
  <% end %>
<% end %>

