<% notifications = notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render "public/notifications/notification", notifications: notifications%>
  <%= paginate notifications, theme: 'twitter-bootstrap-4' %>
<% else %>
  <p class="font-weight-bold pt-3">通知はありません。</p>
<% end %>