<h2>user/index</h2>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>user info</h2>
      <%= render "public/users/info", user: current_user %>
    </div>
    <div class="col-md-8 ofset-md-1">
      <h2>users</h2>
      <%= render "public/users/index", users: @users %>
    </div>
  </div>
</div>