<h2>public/user/show</h2>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>user info</h2>
      <%= render "public/users/info", user: @user, page_name: "show" %>
    </div>
    <div class="col-md-8">
      <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
          <%= image_tag post.medias[0], size: '140x100' %>
        <% end %>
      <% end %>
      <%= link_to "いいねした投稿", favorites_user_path(@user) %>
    </div>
  </div>
</div>